niffler-e-2-e-tests-python/templates/xsd/envelope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns2="niffler-userdata" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
    <xs:import namespace="niffler-userdata" schemaLocation="{{ operation_xsd }}"/>
    <xs:element name="Envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SOAP-ENV:Header"/>
                <xs:element ref="SOAP-ENV:Body"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Header">
        <xs:complexType/>
    </xs:element>
    <xs:element name="Body">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ns2:{{ operation }}"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
